body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
}

.text-shadow-dark{
    text-shadow: 2px 2px #000;
}

.about-us{
    p{
        padding-bottom: 1em;
    }
}


/* Contact Us Form */
#field_2_1{
    label{
        display: none;
    }
    #input_2_1 {
        @apply bg-gray-800 text-white rounded border border-gray-700 text-base px-4 py-2 mb-4 w-full;
    }
}

#field_2_2{
    label{
        display: none;
    }
    #input_2_2 {
        @apply bg-gray-800 text-white rounded border border-gray-700 text-base px-4 py-2 mb-4 resize-none w-full h-20;
    }
}

/* honey pot */
#field_2_3{
    display: none!important;
    position: absolute!important;
    left: -9000px;
}

#input_2_1:focus, #input_2_2:focus{
    @apply outline-none border-orange-500;
}

#gform_submit_button_2 {
    @apply text-white bg-orange-500 border-0 py-2 px-6 rounded text-lg w-full;
}
#gform_submit_button_2:focus{
    @apply outline-none;
}
#gform_submit_button_2:hover{
    @apply bg-orange-600;
}

#gform_3{
    label{
        display: none;
    }
    input{
        @apply bg-gray-800 text-white rounded border border-gray-700 text-base px-4 py-2 mb-4 w-full;
    }
    textarea{
        @apply bg-gray-800 text-white rounded border border-gray-700 text-base px-4 py-2 mb-4 resize-none w-full h-20;
    }

    #field_3_4{
        @apply overflow-hidden relative mb-4 border border-gray-700 w-full rounded;
        label {
            @apply border-gray-700 text-white font-bold py-2 px-4 w-full inline-flex items-center cursor-pointer;
            &:hover{
                @apply border-gray-500
            }
        }
        #input_3_4 {
            @apply cursor-pointer absolute hidden opacity-0;
        }
        #extensions_message_3_4 {
            display: none;
        }
    }


    #gform_submit_button_3 {
        @apply text-white bg-orange-500 border-0 py-2 px-6 rounded text-lg w-full;
        &:focus{
            @apply outline-none;
        }
        &:hover{
            @apply bg-orange-600;
        }
    }
}